#top-triangle { 
	width: 0; 
	height: 0; 
	border-left: 75px solid transparent; 
	border-right: 75px solid transparent; 
	border-top: 85px solid black;
} 

#bottom-triangle { 
	width: 0; 
	height: 0; 
	border-left: 75px solid transparent; 
	border-right: 75px solid transparent; 
	border-bottom: 85px solid black;
	margin-top: -15px;
} 
