body{background-color:blue}

#inner-circle { 
	width: 195px; 
	height: 195px; 
	background: white; 
	-moz-border-radius: 150px; 
	-webkit-border-radius: 150px; 
	border-radius: 150px; 
	margin-top: 26px;
	margin-left: 23px;
}

#top-triangle { 
	width: 0; 
	height: 0; 
	border-left: 84px solid transparent; 
	border-right: 84px solid transparent; 
	border-top: 85px solid black;
} 

#inner-top-triangle { 
	width: 0; 
	height: 0; 
	border-left: 49px solid transparent; 
	border-right: 49px solid transparent; 
	border-top: 50px solid white;
	margin-top: -73px;
	margin-left: -49px;
} 

#bottom-triangle { 
	width: 0; 
	height: 0; 
	border-left: 84px solid transparent; 
	border-right: 84px solid transparent; 
	border-bottom: 85px solid black;
	margin-top: -22px;
} 

#inner-bottom-triangle { 
	width: 0; 
	height: 0; 
	border-left: 49px solid transparent; 
	border-right: 49px solid transparent; 
	border-bottom: 50px solid white;
	padding-top: 21px;
	margin-left: -49px;
}
