#outer-circle { 
	width: 230px; 
	height: 230px; 
	background: black; 
	-moz-border-radius: 150px; 
	-webkit-border-radius: 150px; 
	border-radius: 150px; 
	margin-top: 25px;
	margin-left: 25px;
}

#inner-circle { 
	width: 195px; 
	display:inline-block;
	height: 195px; 
	background: white; 
	-moz-border-radius: 150px; 
	-webkit-border-radius: 150px; 
	border-radius: 150px; 
	margin-top: 17px;
	margin-left: 17px;
}

#top-triangle { 
	width: 0; 
	height: 0; 
	border-left: 84px solid transparent; 
	border-right: 84px solid transparent; 
	border-top: 85px solid black;
	display:inline-block;
	margin-left:15px;
	margin-top:24px;
} 

#inner-top-triangle { 
	width: 0; 
	height: 0; 
	border-left: 49px solid transparent; 
	border-right: 49px solid transparent; 
	border-top: 50px solid white;
	margin-top: -73px;
	margin-left: -49px;
} 

#bottom-triangle { 
	width: 0; 
	height: 0; 
	border-left: 84px solid transparent; 
	border-right: 84px solid transparent; 
	border-bottom: 85px solid black;
	margin-top: -27px;
	margin-left:15px;
} 

#inner-bottom-triangle { 
	width: 0; 
	height: 0; 
	border-left: 49px solid transparent; 
	border-right: 49px solid transparent; 
	border-bottom: 50px solid white;
	padding-top: 21px;
	margin-left: -49px;
}
